certifi==2026.6.17
charset-normalizer==3.4.9
customtkinter==6.0.0
darkdetect==0.8.0
idna==3.18
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
mdurl==0.1.2
packaging==26.2
Pygments==2.20.0
python-dotenv==1.2.2
requests==2.34.2
urllib3==2.7.0
